body {
    padding: 16px;
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 96px;
}

.navbar-style {

    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 80px;
    z-index: 1;
}

.footer-style {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    

}